@use 'sass:math';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: #000000;
}

ol, ul, menu {
  list-style: none;
}

span {
  display: block;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.get-to-the-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.maximize {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 3em;
}

h1 {
  font-family: "Fraunces";
}

h2 {
  font-family: "Fraunces";
}

h3 {
  font-family: "Fraunces";
}

h4 {
  font-family: "Fraunces";
}

h5 {
  font-family: "Fraunces";
}

body {
  font-family: "Barlow";
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/desktop/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  padding: 2em 0;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav__col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.--extend {
  width: 100%;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.nav__btn {
  color: #23303e;
  cursor: pointer;
  font-weight: normal;
  -webkit-transition: font-weight 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: font-weight 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav__btn:hover {
  font-weight: 700;
}

.--contact {
  padding: 1em 1.8em;
  background-color: white;
  color: #23303e;
  border-radius: 30px;
}

.nav__hambuger {
  display: none;
}

.article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.article__text {
  width: 100%;
  color: white;
}

.article__big-text {
  font-size: 41.4px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.article__img {
  width: 40px;
  height: auto;
  margin-top: 2em;
}

.main {
  width: 100%;
}

.sectioin__container {
  width: 100%;
}

.section__row-2 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

.row__col-2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col__img, .--standout, .--graphic, .--photo {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  height: 100%;
  background-image: url("../images/mobile/image-transform.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.--standout {
  background-image: url("../images/mobile/image-stand-out.jpg");
}

.--graphic, .--photo {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  position: relative;
  height: 450px;
}

.--photo {
  background-image: url("../images/mobile/image-photography.jpg");
}

.col__text-area {
  position: absolute;
  bottom: 0px;
  padding: 2em;
}

.text-color {
  color: #19536b;
}

.col__text {
  padding: 3em;
  text-align: center;
}

.col__mid-heading, .col__btn, .--pink {
  font-weight: 700;
  color: #23303e;
  text-align: center;
  font-size: 36px;
}

.col__desc {
  color: #5a636c;
  line-height: 26px;
  margin: 1.3em 0;
  text-align: center;
}

.col__btn, .--pink {
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
  font-size: unset;
}

.col__btn:after, .--pink:after {
  content: '';
  width: 110px;
  height: 6px;
  background-color: #fad400;
  position: absolute;
  bottom: 2px;
  z-index: -1;
}

.--pink:after {
  background-color: #fe7867;
}

.section__row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row__col-3 {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col_-card {
  width: 100%;
  height: auto;
  padding: 2em;
}

.card__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.card__desc {
  padding: 3.8em;
  text-align: center;
}

.card__desc p {
  line-height: 26px;
  font-weight: 700;
  color: #5a636c;
}

.name {
  font-size: 21.6px;
  font-weight: 700;
}

.card__titles {
  margin-top: 1.5em;
}

.title {
  margin-top: 1em;
  color: #818498;
}

.section__heading {
  margin: 2em 0;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #458c7e;
  padding: 5em 0;
}

.footer__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2em;
          column-gap: 2em;
  margin-top: 2em;
}

.--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__row-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row__col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 2em;
}

.col__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__grid {
  width: 100%;
  height: 100%;
}

.section__row {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

.col-1 {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.col-2 {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.col-3 {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.col-4 {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.col-1 {
  background-image: url("../images/mobile//image-gallery-milkbottles.jpg");
}

.col-2 {
  background-image: url("../images/mobile//image-gallery-orange.jpg");
}

.col-3 {
  background-image: url("../images/mobile//image-gallery-cone.jpg");
}

.col-4 {
  background-image: url("../images/mobile//image-gallery-sugar-cubes.jpg");
}

@media screen and (max-width: 750px) {
  .header__wrapper {
    padding: 2em;
  }
  .nav {
    padding: 1em 0;
    position: relative;
  }
  .--extend {
    position: absolute;
    top: 100px;
    left: 0;
    display: none;
  }
  .nav__link__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    padding: 2em 0;
  }
  .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2em;
    width: 100%;
    height: 100%;
  }
  .--contact {
    background-color: #fad400;
  }
  .nav__hambuger {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .article__img {
    width: 50px;
    margin-top: 6em;
  }
  .section__row-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    -ms-grid-rows: (auto)[1];
        grid-template-rows: repeat(1, auto);
  }
  .--exception {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[1];
        grid-template-rows: repeat(1, auto);
  }
  .--override {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    -ms-grid-rows: (auto)[1];
        grid-template-rows: repeat(1, auto);
  }
  .--graphic, .--photo {
    background-image: url("../images/desktop/image-graphic-design.jpg");
    height: 100%;
  }
  .--photo {
    background-image: url("../images/desktop/image-photography.jpg");
    height: 100%;
  }
  .--transform {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .col__desc {
    padding: 0 9em;
    bottom: 0;
    margin: 3em 0;
  }
  .col__text-area {
    padding: 0 2em;
  }
  .section__row-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
  }
  .row__col-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 500px;
        grid-template-rows: 500px;
  }
  .col__img-responsive {
    width: 100%;
    height: 100%;
  }
  .col__text {
    width: 100%;
    text-align: left;
    padding: 10em;
  }
  .col__desc {
    text-align: left;
    padding: 0;
  }
  .right {
    text-align: right;
  }
  .left {
    text-align: left;
  }
  .center {
    text-align: center;
    padding: 0 8em;
  }
  .col__btn, .--pink {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .--pink {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .section__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .section__testimony {
    padding: 5em 0;
  }
  .col-1 {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .col-2 {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .col-3 {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .col-4 {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .col-1 {
    background-image: url("../images/desktop//image-gallery-milkbottles.jpg");
  }
  .col-2 {
    background-image: url("../images/desktop//image-gallery-orange.jpg");
  }
  .col-3 {
    background-image: url("../images/desktop//image-gallery-cone.jpg");
  }
  .col-4 {
    background-image: url("../images/desktop//image-gallery-sugar-cubes.jpg");
  }
}
/*# sourceMappingURL=style.css.map */